# Virtual environment
.venv/

# Python cache
__pycache__/
*.py[cod]
*.pyo

# Pytest
.pytest_cache/

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/

# OS files
.DS_Store
Thumbs.db

# Environment variables / secrets
.env
.env.*

# Logs
*.log

# Temporary files
*.tmp

# Model experiment files
*.pkl